<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>{{ task.title }}</title>
    <link rel="stylesheet" href='static/style.css'>
</head>
<body>
    <h1>{{ task.title }}</h1>
    <p>{{ task.description }}</p>
    <p>Status: {% if task.completed %}Completed{% else %}Pending{% endif %}</p>
    <a href="{% url 'task_update' task.pk %}" class="btn edit-task-btn btn-warning">Edit</a>
    <a href="{% url 'task_delete' task.pk %}" class="btn delete-task-btn btn-danger" onclick="return confirm('Are you sure you want to delete this task?')">Delete</a>
    <a href="{% url 'todo_list' %}" class="btn back-btn btn-info">Back to Todo List</a>
</body>
</html>
