<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Todo List</title>
        <link rel="stylesheet" href='static/style.css'>
    </head>
    <body>
        <center><h1>Todo List</h1></center>
        <a href="{% url 'task_create' %}" class="btn add-task-btn btn-primary">Add Task</a>
        <ul>
            {% for task in tasks %}
            <li>
                <a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a>
                {% if task.completed %}
                <span class="completed">Completed</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'todo_list' %}" class="back-btn btn btn-info">Back to Todo List</a>
    </body>
</html>